@using Microsoft.AspNet.Identity
@using TheAuctioneer.Principals
@using ViewModelLayer.Models.User
@{
    var sessionUser = HttpContext.Current.User as UserPrincipal;
    if (sessionUser != null)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + sessionUser.Username() + "!", "Details", "Users", routeValues: new {id = sessionUser.Id()}, htmlAttributes: new {title = "Manage"})
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
            <li>@Html.ActionLink("Log in", "Index", "Account")</li>
        </ul>
    }
}
